<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route path="/" action="home" controller="HomeController"/>
    <route path="inscription" action="register" controller="RegisterController"/>
    <route path="sendinscription" action="sendForm" controller="RegisterController"/>
    <route path="connexion" action="login" controller="LoginController"/>
    <route path="sendlogin" action="sendlogin" controller="LoginController"/>
    <route path="disconnect" action="disconnect" controller="LoginController"/>
</routes>