<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route path="/" action="home" controller="HomeController"/>
    <!-- INSCRIPTION -->
    <route path="inscription" action="register" controller="RegisterController"/>
    <route path="sendregister" action="sendRegister" controller="RegisterController"/>
    <!-- CONNEXION -->
    <route path="connexion" action="login" controller="LoginController"/>
    <route path="sendlogin" action="sendlogin" controller="LoginController"/>
    <!-- DECONNEXION -->
    <route path="disconnect" action="disconnect" controller="LoginController"/>
    <!-- LISTE UTILISATEUR -->
    <route path="listuser" action="showList" controller="UserListController"/>
    <route path="deleteuser" action="deleteUser" controller="UserListController" params="id"/>
    <route path="modifuser" action="updateUser" controller="UserListController" params="id"/>
    <route path="sendupdate" action="sendUpdate" controller="UserListController"/>
    <!-- VIEW POST -->
    <route path="post" action="showPost" controller="PostController" params="id"/>
    <route path="createpost" action="createPost" controller="PostController"/>
    <route path="sendcreatepost" action="sendcreatepost" controller="PostController"/>
    <route path="modifypost" action="modifyPost" controller="PostController" params="id"/>
    <route path="deletepost" action="deletePost" controller="PostController" params="id"/>
    <!-- COMMENTAIRES  -->
    <route path="sendcommentaire" action="createComment" controller="CommentController" />
    <!-- API -->
    <route path="api/posts" action="showPosts" controller="ApiController"/>
</routes>